*{
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
    color: white;

}

img{
    border-radius: 16px;
    width: 460px;
    height: 600px;
    box-shadow: 10px -10px 6px #22d4fd;
}

.destaque-titulo{
    color: #22d4fd;
}